@import "../icons/extension-icons.css";

:root { 
  --dark-0: #1d1e25;
  --dark-base: #262831;
  --dark-1: #333642;
  --dark-2: #3C3F4E;
  --dark-3: #4E5265;
  --dark-4: #575B70;
  --light-0: #FFFFFF;
  --light-base: #ffffff;
  --light-1: #D6D6D6;
  --light-2: #CCCCCC;
  --light-3: #C2C2C2;
  --light-4: #B8B8B8;
  --accent: #679BB5;
  --yellow: #dbc074;
  --green: #5cb8a7;
  --red: #c94f6d;
  
  --dividers: 1px;
    
  --tl-animation-duration: 200ms;
}

:root[privatebrowsingmode="temporary"]{ 
  --dark-0: #261a3b;
  --dark-base: #32234D;
  --dark-1: #3F2D62;
  --dark-2: #493370;
  --dark-3: #5B408C;
  --dark-4: #64479A;
  --light-0: #FFFFFF;
  --light-base: #ffffff;
  --light-1: #D6D6D6;
  --light-2: #CCCCCC;
  --light-3: #C2C2C2;
  --light-4: #B8B8B8;
  --accent: #A7396D;
  --yellow: #C9B336;
  --green: #36C987;
  --red: #C9365D;
}